@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Truculenta:opsz,wdth@12..72,97.8&display=swap');



*{
   margin:0;
   padding: 0; 
}

:root{
  --azul: #003049;
  --vermelho:#D62828;
  --laranja:#F77F00;
  --amarelo:#FCBF49;
  --branco:var(--branco);
  --preto:var(--preto);
  --Fonte-texto:"truculenta",sans-serf;
  --fonte-titulo"ojuju",sans-serf
}


.cabecalho{
   background-color: var(--verde);
   color blanchedalmond;
   display flex;
   align-items center;
   justify-content space-between;
   padding 0 2em;
 }

 .cabecalho-imagem{
   width: 5%;
   border-radius: 100%;
   margin: 1em;
 }

 .cabecalho-lista-link{
   text-decoration: none;
   color: white;
   margin-right: 1.5em;
   font-size: 1.5em;
}

.escola{
  background-color: var(--branco);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  32px 0;

}


.escola-texto-tiulo{
   padding: 24px 0;
   font-family: var(--fonte-titulo);

}


.escola-imagem{
  width: 25%;
}